<html>
<head>
</head>
<body>
  <h1>Sign In</h1>
  <h4><%=flash[:notice] ||= flash[:errors] %></h4>
  <table>
    <form action="/sessions" method="Post">
      <tr>
        <td>Email</td>
        <td><input type="email" name="email" autofocus /></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="password" name="password" /></td>
      </tr>
      <tr>
        <td><input class="button" id="sign-in-button" type="submit" value="Sign in"></td>
      </tr>
    </form>

  </table>
  Don't have an account? <a id="sign-up" href="/users/new">Sign up here</a>
</body>
</html>
