<html>
<head>
</head>
<body>
  <div class="content-container">
    <h1>Sign In</h1>
    <h4><%=flash[:notice] ||= flash[:errors] %></h4>

    <form action="/sessions" method="Post">
      <div class="form">
        Email
        <input type="email" name="email" autofocus />
      </div>
      <br>
      <div class="form">
        Password
        <input type="password" name="password" />
      </div>
      <br>
      <div class="form">
        <input class="button" id="sign-in-button" type="submit" value="Sign in">
      </div>
    </form>
    Don't have an account? <a id="sign-up" href="/users/new">Sign up here</a>
  </div>
</body>
</html>
