<h1> Spaces </h1>

<form method='get' action='/spaces/new'>
  <input type='submit' value='List a space'>
</form>

<% @spaces.each do |space| %>
<div>
  Name: <%= space.name %>
</div>
<div>
  Description: <%= space.description %>
</div>
<div>
  Price per night: £<%= space.price %>
</div>
<div>
  <form method='get' action='/spaces/:1' >
    <input type='submit' value='View space'>
  </form>

<% end %>
