<form action='/spaces' method='post'>
  <label for 'name'>
    Name: <input name='name' type='text'>
  </label>
  <label for 'description'>
    Description: <input name='description' type='text'>
  </label>
  <label for 'price'>
    Price: <input name='price' type='number'>
  </label>
  <input type='submit' value='List my space'>
</form>
