<form action='/spaces' method='post'>
  <label for 'name'>
    Name: <input name='name' type='text'>
  </label>
  <label for 'description'>
    Description: <input name='description' type='text'>
  </label>
  <label for 'price'>
    Price: <input name='price' type='number'>
  </label>
  <label for 'available_from'>
    Available from: <input name='available_from' type='text' id='available_from'>
  </label>
  <label for 'available_to'>
    Available to: <input name='available_to' type='text' id='available_to'>
  </label>
  <input type='submit' value='Add space'>
</form>
