<h1> Request! </h1>
<div>
  Name: <%= @space.name %>
</div>
<div>
  Description: <%= @space.description %>
</div>
<div>
  Price per night: £<%= @space.price %>
</div>

<form method='post' action='/request/<%= @space.id %>' >
  <input type='submit' value='Request to book'>
</form>
