<h1> Request! </h1>
<div>
  Name: <%= @space.name %>
</div>
<div>
  Description: <%= @space.description %>
</div>
<div>
  Price per night: £<%= @space.price %>
</div>

<form method='post' action='/requests/<%= @space.id %>' >
  <label for 'requested_date'>
    Choose a date: <input name='requested_date' type='date'>
  </label>
  <input type='submit' value='Request to book'>
</form>
