#logo {
  float: left;
  width: 40px;
  height: 40px;
  font-color: red;
  font-size: 60px;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}



#welcome{
   float: right;
  width: 400px;
  border: 10px solid black;
  padding: 25px;
  margin: auto;
  font-size: 10px;

}

#sign_in{
}
#content{
  width: 300px;
  border: 25px solid black;
  padding: 25px;
  margin: auto;
}

body {
    font-family:    "Lucida Console", Monaco, monospace;
    padding: 25px;
    margin: auto;

}
