#logo {
  width: 40px;
  height: 40px;
  font-color: red;
  font-size: 60px;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}



#menu {
  padding: 1em;
  margin: auto;
  font-size: 10px;
  background-color: white;
  color: black;
  clear: left;
  text-align: left;
}

#sign_in{
}

#content{
  padding: 1em;
  margin: auto;
}

body {
    font-family:    "Lucida Console", Monaco, monospace;
    padding: 25px;
    margin: auto;
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}

#welcome-message {
  float: left;
  padding-top: 5px;
  margin-right: 10px;
}

/*#requests {
  float: right;
}

#spaces {
  float: right;
}*/

.navigation {
  float: right;
  display: inline;
}

/*.button {
  border-radius: 5px;
  background-color: white;
  border: none;
  font-family:    "Lucida Console", Monaco, monospace;
  padding: 5px;
}*/

.button {
  background-color: #0F142A;
   display: block;
   text-decoration: none;
   position: relative;
   cursor: pointer;
   width: 55%;
   margin: 80px auto;
   font-size: 30px;
   color: #44B19B ;
   line-height: 50px;
   height: 50px;
   border: 3px solid rgba(79, 117, 128, 0.5);
   z-index: 1;
   @include transition(all 0.3s);
   &:hover;
   border-radius: 10px;
   box-shadow: 0 0 14px 1px #A74C64 , 0 0 70px 10px #91A1F7 , 0 0 126px 23px #45B19B;
}

#sign_out {
  background-color: #1abc9c;
  color: white;
}
